.clock {
  margin: 0 5px;
  background: #fff;
}
.clock .segment {
  float: left;
  margin: 0 5px;
}
.clock .segment h5 {
  line-height: 1em;
  margin: 0;
}
.clock .separator {
  margin: 25px 5px;
}
.datePicker {
  position: relative;
}
.datePicker .calendar {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 2;
}
.dateTimePicker {
  margin: 0 auto;
  width: 320px;
  position: relative;
}
.dateTimePicker .picker {
  position: absolute;
  left: 0;
  top: 100%;
  background: #fff;
  height: 200px;
  width: 320px;
  box-shadow: 0 0 4px #888;
}
.dateTimePicker .picker::after {
  content: "";
  clear: both;
  display: block;
}
.dateTimePicker .picker .segment {
  color: #999;
  height: 200px;
  overflow: hidden;
  position: relative;
  float: left;
/* Prevent native touch events on Windows */
  -ms-touch-action: none;
/* Prevent the callout on tap-hold and text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
/* Prevent text resize on orientation change, useful for web-apps */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
.dateTimePicker .picker .segment ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
/* Prevent elements to be highlighted on tap */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
/* Put the scroller into the HW Compositing layer right from the start */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.dateTimePicker .picker .segment ul li {
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  font-size: 20px;
  line-height: 1.45em;
}
.dateTimePicker .picker .segment ul li.selected {
  color: #000;
}
.dateTimePicker .picker .day {
  width: 50%;
  margin-left: 5%;
}
.dateTimePicker .picker .hour,
.dateTimePicker .picker .minute,
.dateTimePicker .picker .phase {
  width: 15%;
}
.modal {
  z-index: 3;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  min-width: 300px;
  max-width: 600px;
  min-height: 400px;
  max-height: 700px;
  overflow-y: auto;
  position: fixed;
  background: backgroundColor;
  border-radius: 2px;
  padding: 10px;
}
.calendar {
  width: 300px;
  background: #fff;
}
.calendar .header {
  background: transparent;
  box-shadow: none;
}
.calendar .header .backButton {
  float: left;
}
.calendar .header .month {
  text-align: center;
}
.calendar .header .year {
  text-align: center;
}
.calendar .header .nextButton {
  float: right;
}
.calendar table.dates {
  width: 100%;
}
.calendar table.dates .notCurrent {
  color: rgba(120,120,120,0.5);
}
.calendar table.dates td {
  text-align: center;
  min-width: 28px;
  min-height: 28px;
  color: #b4b4b4;
}
.calendar table.dates td.current {
  color: #3c3c3c;
}
.priceInput {
  max-width: 120px;
}
.resultsTextInput {
  margin: 0;
}
.resultsTextInput .selected {
  font-weight: bold;
}
.s3PhotoUpload {
  width: 200px;
}
.s3PhotoUpload .photo {
  position: relative;
  width: 200px;
  height: 200px;
  background: #808080;
  border-radius: 4px;
  margin: 10px;
  overflow: hidden;
}
.s3PhotoUpload .photo img.preview {
  width: 100%;
}
.s3PhotoUpload .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  border-radius: 0 0 4px 4px;
}
.s3PhotoUpload .progress .bar {
  height: 15px;
  background: #f00;
}
.s3PhotoUpload .delete {
  position: absolute;
  top: 5px;
  right: 5px;
}
.slider {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.slider .stage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.slider .stage .slide img {
  width: 100%;
}
.slider .button {
  position: absolute;
  top: 50%;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background: #666;
}
.slider .previous.button {
  left: 1%;
}
.slider .next.button {
  right: 1%;
}
.slider .indicators {
  position: absolute;
  left: 0;
  bottom: 2%;
  width: 100%;
  height: 14px;
  text-align: center;
}
.slider .indicators .indicator {
  border-radius: 100%;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  background: rgba(0,0,0,0.3);
  margin: 2px 5px;
  display: inline-block;
}
.slider .indicators .current.indicator {
  background: #fff;
}
.tags {
  padding: 6px;
}
.tags .tag {
  background: #888;
  color: #fff;
  margin: 2px 5px;
  border-radius: 2px;
  padding: 6px 0 6px 6px;
}
.tags .tag .removeTag {
  margin: 0 0 0 5px;
  background: #777;
  color: #fff;
  text-decoration: none;
  border-radius: 0 2px 2px 0;
  padding: 6px;
}
.tags .tag.selected {
  background: #444;
}
.tags .input {
  min-width: 30px;
  margin: 2px 5px;
}
.timePicker {
  position: relative;
}
.timePicker .clock {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 2;
}
