.list.draggable
	margin 0
	padding 0
	.placeholder.item
		background rgb(255,240,120)
	.placeholder:before 
		content "Drop here"
		color rgb(225,210,90)
	.item
		padding 5px
		background #eee
	.list
		margin-left 5px