.modal
	z-index 3
	margin auto
	top 0
	bottom 0
	left 0
	right 0
	position absolute
	min-width 300px
	max-width 600px
	min-height 400px
	max-height 700px
	overflow-y auto
	position fixed
	background backgroundColor
	border-radius 2px
	padding 10px
	// canvas
	// 	width 100%