@import('Clock')
@import('CronInput')
@import('DatePicker')
@import('DateTimePicker')
@import('HoursInput')
@import('Map')
@import('Modal')
@import('MonthCalendar')
@import('PriceInput')
@import('ResultsTextInput')
@import('S3Uploader')
@import('Select')
@import('Signature')
@import('Slider')
@import('SlideShow')
@import('TagInput')
@import('TimePicker')
@import('TimeSpanInput')
@import('TimeWheelPicker')
@import('ValidTextInput')
@import('ValidSelectInput')
@import('ValidTextareaInput')

.playground, body
	width 100%
	margin 0
	padding 0
	header
		margin-bottom 10px
		background rgb(180,68,20)
		color white
		margin 0
		padding-bottom 20px
		font-family 'Helvetica' sans-serif
		select
			float right
	.component, header .content
		width 96%
		max-width 960px
		padding 10px 2%
		margin 0 auto