.tags
	padding 6px
	.tag
		background #888
		color white
		margin 2px 5px
		border-radius 2px
		padding 6px 0 6px 6px
		.removeTag
			margin 0 0 0 5px
			background #777
			color white
			text-decoration none
			border-radius 0 2px 2px 0
			padding 6px
	.tag.selected
		background #444
	.input
		min-width 30px
		margin 2px 5px