.calendar.week
	header
		margin 0
		padding 0
		z-index 1
	.even.day
		background rgba(0,0,0,0.025)
	.timeRuler
		border-bottom 1px solid red
	.hourMarker
		border-bottom 1px solid #999
		.label
			background white
	.entry
		background red
		border-radius 3px
		z-index 1